astroid==2.3.2
board==1.0
certifi==2019.9.11
chardet==3.0.4
Click==7.0
Flask==1.1.1
Flask-Cors==3.0.8
Flask-Dance==2.2.0
Flask-WTF==0.14.2
idna==2.8
isort==4.3.21
itsdangerous==1.1.0
Jinja2==2.11.3
lazy-object-proxy==1.4.3
MarkupSafe==1.1.1
mccabe==0.6.1
numpy==1.17.2
oauthlib==3.1.0
pandas==0.25.1
pkg-resources==0.0.0
psycopg2==2.8.3
pylint==2.4.3
pymemcache==2.2.2
python-dateutil==2.8.1
pytz==2019.3
requests==2.22.0
requests-oauthlib==1.2.0
six==1.12.0
typed-ast==1.4.0
urllib3==1.25.6
URLObject==2.4.3
Werkzeug==0.16.0
wrapt==1.11.2
WTForms==2.2.1
