[Unit]
Description=GAS
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/pi/IoT_Trials/Run.py
Restart=on-abort

[Install]
WantedBy=multi-user.target
