{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/calendar.css') }}">
<!-- Credit to Paul Navasard -->
<div class="container">
    <div class="row">
        <div class="col-sm">
            <div id="calendar"></div>
        </div>
        <div class="col-sm">
            {% block test %}
            {% endblock %}
        </div>
    </div>
</div>

<script src="{{ url_for('static', filename = 'js/calendar.js') }}"></script>
{% endblock %}