{% extends "base.html" %} {% from "_formhelpers.html" import render_field %} {% block content %}
<!-- <link rel="stylesheet" href="{{ url_for('static', filename = 'css/calendar.css') }}"> -->
<!-- Credit to dangrossman for date time picker -->
<!-- Credit to fengyuanchen for time picker -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/display_messages.js') }}"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<link href="{{ url_for('static', filename = 'css/picker.min.css') }}" rel="stylesheet">
<script src="{{ url_for('static', filename = 'js/picker.min.js') }}"></script>
<!-- Credit to Paul Navasard for calendar-->
<br>
<div class="container">
    <div class="row">
        {% if warning != "" %}
        <div class="alert alert-warning" role="alert">
            {{ warning }}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <tr>
                    {% for col in column_names %}
                    <th>{{col}}</th>
                    {% endfor %}
                </tr>
                {% for row in row_data %}
                <tr>
                    {% for col, row_ in zip(column_names, row) %}
                    {% if col == link_column %}
                    <td style="white-space: nowrap;">
                        <button onclick="delete_msg({{ row_ }})">
                            X
                        </button>
                        {{ row_ }}
                    </td>
                    {% else %}
                    <td>{{row_}}</td>
                    {% endif %}
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="col-sm">
            <h1>Create Message</h1>
            <br>
            <form action="" method="post" novalidate>
                {{ form.hidden_tag() }}
                <!-- BoardID -->
                <div class="row">
                    <div class="col-sm ">
                        {{ render_field(form.board_id.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.board_id, class="btn btn-secondary dropdown-toggle") }}
                    </div>
                </div>
                <!-- Importance -->
                <div class="row">
                    <div class="col-sm ">
                        {{ render_field(form.importance.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.importance, class="btn btn-secondary dropdown-toggle") }}
                    </div>
                </div>
                <!-- Insert Message -->
                <div class="row">
                    <div class="col-sm">
                        {{ render_field(form.msg, class="md-textarea form-control", placeholder = "Insert Message Here...") }}
                    </div>
                </div>
                <!-- Repeat -->
                <div class="row align-items-center">
                    <div class="col-sm ">
                        {{ render_field(form.repeat.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.repeat,class = "btn btn-secondary dropdown-toggle") }}
                    </div>
                </div>
                <!-- Start Time -->
                <div class="row align-items-center whole-day-no">
                    <div class="col-sm ">
                        {{ render_field(form.start_time.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.start_time, class="form-control js-time-picker") }}
                    </div>
                </div>
                <!-- End Time -->
                <div class="row align-items-center whole-day-no">
                    <div class="col-sm ">
                        {{ render_field(form.end_time.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.end_time, class="form-control js-time-picker") }}
                    </div>
                </div>
                <!-- Once On From -->
                <div class="row align-items-center never">
                    <div class="col-sm ">
                        {{ render_field(form.once_on_from.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.once_on_from, class="form-control") }}
                    </div>
                </div>
                <!-- Once On To -->
                <div class="row align-items-center never">
                    <div class="col-sm ">
                        {{ render_field(form.once_on_to.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.once_on_to, class="form-control") }}
                    </div>
                </div>
                <!-- Week days -->
                <div class="row align-items-center weekly">
                    <div class="col-sm ">
                        {{ render_field(form.week_days.label)}}
                    </div>
                    <div class="col-sm-6">
                        {{ render_field(form.week_days,class = "btn btn-secondary") }}
                    </div>
                </div>
                <!-- Whole day -->
                <div class="row align-items-center weekly daily monthly yearly">
                    <div class="col-sm ">
                        {{ render_field(form.whole_day.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.whole_day,class = "btn btn-secondary dropdown-toggle") }}
                    </div>
                </div>
                <!-- Day Selector -->
                <div class="row align-items-center monthly yearly">
                    <div class="col-sm ">
                        {{ render_field(form.day_select.label)}}
                    </div>
                    <div class="col-sm-6">
                        {{ render_field(form.day_select,class = "btn btn-secondary") }}
                    </div>
                </div>
                <!-- Month Selector -->
                <div class="row align-items-center yearly">
                    <div class="col-sm ">
                        {{ render_field(form.month_select.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(form.month_select,class = "btn btn-secondary") }}
                    </div>
                </div>

                <!-- Submit Button -->
                <div class="row">
                    <div class="col-sm">
                        {{ render_field(form.submit, class ="btn btn-primary") }}
                    </div>
                </div>
                <!-- Insert scripts for the date fields -->
                <script>
                    $(function () {
                        dateinput = ["once_on_from", "once_on_to"]
                        for (var i = 0; i < dateinput.length; i++) {
                            console.log('input[name="' + dateinput[i] + '"]')
                            $('input[name="' + dateinput[i] + '"]').daterangepicker({
                                singleDatePicker: true,
                                timePicker: true,
                                showDropdowns: true,
                                minYear: 1801,
                                maxYear: parseInt(moment().format('YYYY'), 10),
                                locale: {
                                    format: "MM/DD/YYYY h:mm A"
                                }
                            }, function (start, end, label) { });

                        }
                        timeinput = ["start_time", "end_time"]
                        for (var i = 0; i < timeinput.length; i++) {
                            new Picker(document.querySelector('#' + String(timeinput[i])), {
                                format: 'HH:mm',
                                headers: true,
                                text: {
                                    title: 'Pick a time',
                                },
                            });
                        }
                    });
                </script>
                <!-- Insert scripts displaying the relevant rows -->
                <script>
                    $(function () {
                        relevant_classes = ['daily', 'weekly', 'monthly', 'yearly', 'never', 'whole-day-no']
                        //Create a function for making sure the whole day handler works
                        var check_whole_day = function (force_hide = false) {
                            if (force_hide == true) {
                                $('.whole-day-no').hide()
                            } else {
                                //If whole day is Y, hide the start and end time
                                if ($('#whole_day').val() == 'Y') {
                                    $('.whole-day-no').hide()
                                } else {
                                    $('.whole-day-no').show()
                                }
                            }
                        }
                        //Create a function for setting the repeat button
                        var check_repeat = function () {
                            //Hide everything
                            for (i of relevant_classes) {
                                $('.' + String(i)).hide()
                            }
                            //Show the relevant ones
                            $('.' + $('#repeat').val()).show()
                            check_whole_day(force_hide = true)
                        }
                        $('#repeat').change(function () {
                            check_repeat()
                        });
                        $('#whole_day').change(function () {
                            check_whole_day()
                        })
                        check_repeat()
                        check_whole_day()
                    });
                </script>
            </form>
            <hr/>
            <h2>Toggle Time Display</h2>
            <br>
            <!-- Make a form for toggling the display of the time -->
            <form action="" method="post" novalidate>
                {{ showTimeForm.hidden_tag() }}
                <!-- BoardID -->
                <div class="row">
                    <div class="col-sm ">
                        {{ render_field(showTimeForm.board_id.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(showTimeForm.board_id, class="btn btn-secondary dropdown-toggle") }}
                    </div>
                </div>
                <!-- Show time -->
                <div class="row align-items-center">
                    <div class="col-sm ">
                        {{ render_field(showTimeForm.show_time.label)}}
                    </div>
                    <div class="col-sm-8">
                        {{ render_field(showTimeForm.show_time,class = "btn btn-secondary dropdown-toggle") }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        {{ render_field(showTimeForm.submit, class ="btn btn-primary") }}
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!-- <script src="{{ url_for('static', filename = 'js/calendar.js') }}"></script> -->
{% endblock %}